<ion-header> 
    <ion-navbar>
        <ion-buttons end>
            <button ion-button (click)="send()"> 提交 </button>
        </ion-buttons>
        <ion-title>
            发表帖子
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list inset style="margin: 0;">
        <ion-item>
            <ion-label>选择类型</ion-label>
            <ion-select [(ngModel)]="cateid" okText="确定" cancelText="取消">
                <ion-option *ngFor="let cate of cates" value="{{cate.id}}">{{cate.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>贴子主题</ion-label>
            <ion-input type="text" [(ngModel)]="subject"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea rows="5" placeholder="请输入内容" [(ngModel)]="content" style="width:100%; padding: 0;"></ion-textarea>
        </ion-item>
    </ion-list>
    <div padding-horizontal>
        <div class="attach-list">
            <div *ngFor="let img of images;let i = index" class="attach-item" (click)="editImg(i)">
                <img src="{{img.fileUrl}}"  />
            </div>
            <div class="attach-add">
                <button type="button" (click)="addImg()"></button>
            </div>
        </div>
    </div>
</ion-content>