<ion-header> 
  <ion-navbar>
      <ion-title>
       研修心得
      </ion-title>
    </ion-navbar>
    </ion-header>
<ion-content>
      
    <page-EmptyListPage *ngIf = 'items.length > 0 ? false:true'></page-EmptyListPage>
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content   pullingIcon="arrow-dropdown"
                    pullingText="下拉刷新"
                    refreshingSpinner="circles"
                    refreshingText="正在刷新中..."></ion-refresher-content>
                  </ion-refresher>

        <ion-list>
                <ion-item-sliding *ngFor="let item of items;let i = index">
                <button ion-item  (click) = "detail(item)" text-wrap>
                    <p></p>
                    <div>
                    <ion-badge *ngIf = "item.isTop" item-start>置顶</ion-badge>
                    <ion-badge *ngIf = "item.isGood" item-start color="danger">精华</ion-badge>
                    <ion-badge *ngIf = "item.isMine" item-start color="secondary">我的</ion-badge>
                    </div>
                    <div>
                  <h2>{{item.title}}</h2>
               
  <p>  {{item.author}}于{{item.releaseTime}}发表</p>
  <p>{{item.voteupCount}}点赞 &nbsp;{{item.commentCount}}评论
  </p>  
  </div>
  <ion-icon *ngIf = "isAndroid" name="arrow-forward"   item-right></ion-icon>
  </button>
              <ion-item-options>
                <button ion-button color="danger" (click)="remove(item,i)">删除</button>
              </ion-item-options>
         </ion-item-sliding>
              </ion-list>
              <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{loadingText}}">
                </ion-infinite-scroll-content>
              </ion-infinite-scroll>
              <ion-fab left bottom>
              <button ion-fab   style="margin-bottom: 30px" (click) = "writeExpers()">  <ion-icon  name = "create"></ion-icon></button>
            </ion-fab>         
</ion-content>
